/*FLEXBOX STYLING*/

/*OVERALL STYLING*/

.container,
.main-nav {
  display: flex;
}

.main-nav li {
  flex-grow: 1;
}


footer {
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
