/*OVERALL STYLES*/

* {
	box-sizing: border-box;
}

}

a {
  text-decoration: none;
}



h2 {
font-family: 'Nunito', sans-serif;
}

h2 {
font-size: .5em;
}

html {
  font-family: 'Open Sans', sans-serif;
}


.main-content {
		width: 95%;
		margin: 0 auto;
		padding-top: 1.5em;
		padding-bottom: 1.5em;
}

h1,
h2,
.books {
	text-align: center;
}

/*NAVBAR*/


#title {
	color: #ff3333;
	font-size: 19px;
}


.nav li:hover,
.icon-bar:hover {
	background-color: #ffa1a1;
}



/*BOOKSHELVES IMAGE*/

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
	width: 100%;
	max-height: 200px;
	padding-top: 15px;
}


/*FLEXBOX*/

.container {
    display:flex;
  	justify-content:flex-start;
    align-items:stretch;
}



/*FOOTER*/

footer {
  background-color: #ff3333;
	text-align:center;


}

img.resize {
  max-width: 50%;
  max-height: 50%;
}


/*STICKY FOOTER*/


.content {
	min-height: calc(100vh - 65px);
}

.footer {
	height: 65px;
}




/*INDEX PAGE STYLES*/


.book-list {
	list-style: none;
}

.book-list li {
	margin-bottom: 10px;
}

.welcome,
.author-hdline {
	text-align: center;
}

.author-pic {
	width: 350px;
	margin: 0 auto;
}

.mo_pic {
	width: 350px;
}

.author-bio {
	padding: 20px 0 10px 30px;
}



/*CONTACT PAGE STYLES*/




#contact li {
  list-style: none;
	padding: 0;
	margin: 0;
	}



.contact-head {
	padding: 30px 0;
}

.address,
.phone,
.mail {
	font-size: 1em;
}

.contact-center {
	width: 500px;
	margin: 0 auto;
}




/*CHECKOUT SCHEDULE PAGE STYLES*/


.table_head {
	text-align: center;
}


table, th, tr, td {
  border: 1px solid black;
}

th {
  font-size: 25px;
}

th, .table_foot {
  padding: 5px 0;
  height: 50px;
}

tr td {
  width: 16.6666%;
}

td {
  padding: 5px 0;
  text-align: center;


}

table {
  border-collapse: collapse;
  width: 100%;
	margin-top: 20px;
	margin-bottom: 20px;
}






/*MEDIA QUERIES*/




@media only screen and (min-width: 500px) {
	.main-content {
			width: 90%;
			margin: 0 auto;
	}

}


@media only screen and (max-width: 850px) {
	.container {
		flex-direction: column;
	}

}


@media only screen and (min-width: 850px) {
	.rules,
	.lost-books {
		max-width: 45%;
	}



}



@media only screen and (min-width: 850px) and (max-width: 1199px) {

	.col-padding,
	.books {
		padding-left: 20px;
	}

	.text {
		float: left;
		max-width: 65%;
	}

	.books {
		float: right;
		max-width: 35%;
	}

	.book-list li {
		margin-top: 45px;
	}

	.bks-hdline {
		padding-top: 35px;

	}


}


@media only screen and (min-width: 1200px) {

	.intro,
	.author,
	.books {
		float: left;
		width: 33%;
	}

	.author
	.books {
		padding-left: 50px;
	}

	.col-padding {
		padding-left: 20px;
	}


h1,
h2,
.books {
	padding-bottom: 15px;
}

.author-pic,
.book-list {
	padding-top: 30px;
}

.author {
	padding-left: 75px;

}


	}



/*CLEARFIX*/

.clearfix::after {
	content: "";
	clear: both;
}
