/*OVERALL STYLES*/

* {
	box-sizing: border-box;
}

}

a {
  text-decoration: none;
}


h1,
h2 {
font-family: 'Nunito', sans-serif;
}

h1 {
font-size: 2em;
}

h2 {
font-size: 1em;
}

html {
  font-family: 'Open Sans', sans-serif;
}



.main-content {
		width: 95%;
		margin: 0 auto;
		padding-top: 1.5em;
}


/*NAVBAR*/


#title {
	color: #ff3333;
	font-size: 19px;
}


.nav li:hover,
.icon-bar:hover {
	background-color: #ffa1a1;
}



/*BOOKSHELVES IMAGE*/

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
	padding-top: 15px;
}


/*FLEXBOX*/

.container {
	display: flex;
}



/*FOOTER*/



footer {
  background-color: #ff3333;
	text-align:center;
	margin-top: 20px;

}

img.resize {
  max-width: 50%;
  max-height: 50%;
}




/*INDEX PAGE*/

.books {
	list-style: none;
}

.welcome {
	text-align: center;
}


/*CONTACT PAGE*/



#contact li {
  list-style: none;
	padding: 0;
	margin: 0;
	display: block;
}


/*CHECKOUT SCHEDULE PAGE*/


table, th, tr, td {
  border: 1px solid black;
}

th {
  font-size: 25px;
}

th, .table_foot {
  padding: 5px 0;
  height: 50px;
}

tr td {
  width: 16.6666%;
}

td {
  padding: 5px 0;
  text-align: center;


}

table {
  border-collapse: collapse;
  width: 100%;
	margin-top: 20px;
	margin-bottom: 20px;
}


/*MEDIA QUERIES*/




@media (min-width: 500px) {
	.container {
			width: 90%;
			margin: 0 auto;
	}


}

@media (max-width: 850px) {
	.container {
		flex-direction: column;
	}

}


@media (min-width: 850px) {

	.kiino {
		padding-left: 20px;
	}


}
